{% extends 'admin/main_layout.html' %}
{% block title %}Product{% endblock %}

{% block content %}
    <div id="app" class="content-wrapper">
        <!-- Modal -->
        <div
                class="modal fade"
                id="modal"
                data-backdrop="static"
                data-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add New Product</h5>
                    </div>
                    <div class="modal-body">
                        <form
                                enctype="multipart/form-data"
                        >
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input v-model="form.name" required type="text" class="form-control" id="name"
                                       name="name">
                            </div>
                            <div class="form-group">
                                <label for="cost">Cost</label>
                                <input v-model="form.cost" required type="number" class="form-control" id="cost"
                                       name="cost">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input v-model="form.price" required type="number" class="form-control" id="price"
                                       name="price">
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select
                                        v-model="form.category_id"
                                        required type="text"
                                        class="form-control"
                                        id="category"
                                        name="category"
                                >
                                    <option :value="null" disabled>-- Select Category --</option>
                                    <option
                                            :value="item.id"
                                            v-for="(item, index) in category_list"
                                    >[[ item.name ]]
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea rows="5" v-model="form.description" class="form-control" id="description"
                                          name="description">[[ form.description ]]</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button
                                @click="closeModal()"
                                type="button"
                                class="btn btn-outline-danger"
                        >
                            <i class="fas fa-times-circle"></i>
                            Close
                        </button>
                        <button
                                @click="onSave()"
                                v-if="status == 'add'"
                                type="button"
                                class="btn btn-outline-primary"
                        >
                            <i class="fas fa-save"></i>
                            Save
                        </button>
                        <button
                                @click="edit()"
                                v-if="status == 'edit'"
                                type="button"
                                class="btn btn-outline-primary"
                        >
                            <i class="fas fa-save"></i>
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Product</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                            <li class="breadcrumb-item active">Product</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <di class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <button
                                        @click="openModal()"
                                        class="btn btn-outline-primary"
                                >
                                    <i class="fas fa-plus-circle"></i>
                                    Add New
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr class="bg-primary">
                                            <th>No.</th>
                                            <th>Name</th>
                                            <th>Cost</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr
                                                v-for="(item, index) in product_list"
                                                :key="'product_list_'+index"
                                        >
                                            <td>[[ index + 1 ]]</td>
                                            <td>[[ item.name ]]</td>
                                            <td>[[ item.cost ]]</td>
                                            <td>[[ item.price ]]</td>
                                            <td>[[ item.category ]]</td>
                                            <td>[[ item.description ]]</td>
                                            <td>
                                                <button
                                                        @click="getEdit(item)"
                                                        class="btn btn-sm btn-outline-primary mr-2">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button
                                                        @click="deleteRecord(item.id)"
                                                        class="btn btn-sm btn-outline-danger mr-2">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </di>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
{% endblock %}

{% block script %}
    <script>
        const {createApp} = Vue
        createApp({
            delimiters: ['[[', ']]'],
            created() {
                this.fetchData()
            },
            mounted() {
                //this.openModal()
            },
            data() {
                return {
                    form: {
                        'id': null,
                        'name': null,
                        'cost': 0,
                        'price': 0,
                        'category_id': null,
                        'description': '',
                    },
                    status: 'add',
                    product_list: [],
                    category_list: [],
                }
                s
            },
            methods: {
                openModal() {
                    this.status = 'add'
                    $('#modal').modal('show')
                },
                closeModal() {
                    this.clearForm();
                    $('#modal').modal('hide')
                },
                fetchData() {
                    let vm = this
                    $.LoadingOverlay("show");
                    let api_url = "http://127.0.0.1:5000/admin/get-product"
                    axios.get(api_url)
                        .then(function (response) {
                            vm.product_list = response.data.product_list
                            vm.category_list = response.data.category_list
                            $.LoadingOverlay("hide");
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                },
                onSave() {
                    if (this.form.name == null || this.form.name == '') {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Name Field cannot empty",
                            footer: '<a href="#">Why do I have this issue?</a>'
                        });
                        return
                    }
                    $.LoadingOverlay("show");
                    let vm = this
                    let input = this.form
                    let api_url = "http://127.0.0.1:5000/admin/create-product"
                    axios.post(api_url, input)
                        .then(function (response) {
                            // handle success
                            vm.fetchData()
                            $.LoadingOverlay("hide");
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })

                    this.clearForm()
                },
                getEdit(item) {
                    this.status = 'edit'
                    this.form.id = item.id
                    this.form.name = item.name
                    this.form.cost = item.cost
                    this.form.price = item.price
                    this.form.category_id = item.category_id
                    this.form.description = item.description
                    $('#modal').modal('show')
                },
                edit() {
                    if (this.form.name == null || this.form.name == '') {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Name Field cannot empty",
                            footer: '<a href="#">Why do I have this issue?</a>'
                        });
                        return
                    }
                    $.LoadingOverlay("show");
                    let vm = this
                    let input = this.form
                    let api_url = "http://127.0.0.1:5000/admin/update-product"
                    axios.post(api_url, input)
                        .then(function (response) {
                            // handle success
                            vm.fetchData()
                            $.LoadingOverlay("hide");
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })

                    this.clearForm()
                },
                deleteRecord(id) {
                    let vm = this
                    Swal.fire({
                        title: "Do you want to delete ?",
                        showDenyButton: true,
                        showCancelButton: false,
                        showCancelButton: false,
                        confirmButtonText: "Yes Delete !",
                        denyButtonText: `Cancel`
                    }).then((result) => {
                        if (result.isConfirmed) {
                            //this.student_list.splice(index, 1);
                            //alert('deleted: ' + id)
                            $.LoadingOverlay("show");
                            let vm = this
                            let api_url = "http://127.0.0.1:5000/admin/delete-product"
                            axios.post(api_url, {product_id: id})
                                .then(function (response) {
                                    // handle success
                                    vm.fetchData()
                                    $.LoadingOverlay("hide");
                                })
                                .catch(function (error) {
                                    // handle error
                                    console.log(error);
                                })
                        } else if (result.isDenied) {
                            //
                        }
                    });
                },
                clearForm() {
                    this.status = 'add'
                    this.form.id = null
                    this.form.name = null
                    this.form.password = null
                    this.form.gender = "male"
                    this.form.phone = "+855-"
                    this.form.email = '@gmail.com'
                    this.form.address = ''

                    $('#modal').modal('hide')
                },
            }
        }).mount('#app')
    </script>
{% endblock %}
