<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "header_style.html" %}
    <title>Confirm Delete</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <center>
                <h3>Do you want to delete ?</h3>
                <ul style="list-style-type: none">
                    <li>Name: {{ data[0]['name'] }}</li>
                    <li>Gender: {{ data[0]['gender'] }}</li>
                    <li>Address: {{ data[0]['address'] }}</li>
                </ul>
                <a
                        href="{{ url_for('crud') }}"
                        class="btn btn-sm btn-danger mr-4"
                >Cancel</a>
                <a href="/delete_user?id={{ data[0]['id'] }}" class="btn btn-sm btn-primary">Yes Delete !</a>
            </center>
        </div>
    </div>
</div>
</body>
{% include "footer_script.html" %}
</html>
