<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "header_style.html" %}
    <title>Home | ទំព័រដើម</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="row">
        {% for item in product_list %}
            <div class="col-md-3 col-sm-12 mt-4">
                <div class="card" style="width: 100%;">
                    <div
                            style="height: 200px; overflow: hidden"
                    >
                        <img
                                src="{{ item['image'] }}"
                                class="card-img-top"
                                alt="{{ item['image'] }}"
                        >
                    </div>

                    <div class="card-body">
                        <h5
                                class="card-title"
                                style="height: 70px; overflow: auto"
                        >{{ item['title'] }}</h5>
                        <p class="card-text">{{ item['price'] }} $</p>
                        <a
                                href="/shop_now?id={{ item['id'] }}"
                                target="_blank"
                                class="btn btn-primary"
                        >Shop Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



</body>
{% include "footer_script.html" %}
</html>
