<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "header_style.html" %}
    <title>Home | ទំព័រដើម</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="row">
        {% for item in range(12) %}
            <div class="col-md-3 col-sm-12 mt-4">
                <div class="card" style="width: 100%;">
                    <img src="/static/sara.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sara</h5>
                        <p class="card-text">2.3 $</p>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% if False %}
    <center>
        <ul style="list-style-type: none">
            {% for student in student_list %}
                <li>
                    <img
                            style="width: 100px; border-radius: 10px"
                            src="/static/{{ student.profile }}"
                    >
                </li>
                <li>{{ student.id }}</li>
                <li>{{ student.name }}</li>
                <li>{{ student.gender }}</li>
                <li>{{ student.profile }}</li>

                <hr>
            {% endfor %}
        </ul>

    </center>
{% endif %}


</body>
{% include "footer_script.html" %}
</html>
