<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<center>
    <form action="/do_login" method="post">
        <label for="username">User Name</label>
        <input type="text" id="username"  name="username" required>
        <br>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>
        <br>
        <br>
        <input type="submit" value="Login">
    </form>

</center>

</body>
</html>
